<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
        <link rel="icon" type="image/png" href="https://pixabay.com/fr/photos/fa%c3%a7on-ciel-des-nuages-rue-for%c3%aat-7642285.png/">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </div>
    <div class="section">
      <h2>Formation</h2>
      <div class="item">
        <h3>Diplôme en informatique</h3>
        <p>Université XYZ, 2015-2018</p>
      </div>
    </div>
    <div class="section">
      <h2>Compétences</h2>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>PHP</li>
      </ul>
    </div>
  </body>        
    </head>
