<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
        <link rel="icon" type="image/png" href="https://pixabay.com/fr/photos/fa%c3%a7on-ciel-des-nuages-rue-for%c3%aat-7642285.png/">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    <h1>Curriculum Vitae</h1>
    </header>
    
    <section>
        <div class="prez">
            <h2>Qui suis-je</h2>
            <a href="Meurphy.pdf.pdf" download>Telecharger</a>
        </div>
        <div class="contact">
            <h2>My Contact Details</h2>
            <div class="contact-flex">
                <p>Nom&Prenom: </p>
                <p>Moussa Gaharo Demba </p>
            </div>
            <div class="contact-flex">
                <p>Adresse : </p>
                <p>42300 Roanne 12 Rue Jean Puy  </p>
            </div>
            <div class="contact-flex">
                <p>numero de telephone:</p>
                <p>0619714401</p>
            </div>
            <div class="contact-flex">
                <p>Mail : </p>
                <p><a href="doucour.demba77@.com">doucour.demba@gmail.com</a></p>
            </div>
    </section>
{% endblock %}
    </head>
