{% extends 'base.html.twig' %}

{% block title %}Hello Dmg{% endblock %}

{% block body %}
<div class="dad">
<div>

<h1> Bienvenue sur mon site</h1>
<h4>“Nous autres, mordus d’administration Réseaux et Télécommunications, préférons par-dessus tout passer notre temps à bidouiller nos ordinateurs, plutôt que les utiliser pour faire quelque chose de productif. ”</h3>


</div>
<a href="/dmg/loisi" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Primary link</a>
</div>
<style> 
.dad{
text-align: center;
font-size: 24px;

}
</style>
{% endblock %}
