<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
        <link rel="icon" type="image/png" href="https://pixabay.com/fr/photos/fa%c3%a7on-ciel-des-nuages-rue-for%c3%aat-7642285.png/">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
  <body> 
  <div class="foto">
  <h1>Loisirs</h1>
  <h4>Mes passions</h4>
 <img src="https://cdn.pixabay.com/photo/2015/01/21/00/56/soccer-606235_960_720.jpg" alt="football">
<img src="https://cdn.pixabay.com/photo/2016/07/12/11/39/checkmate-1511866_960_720.jpg" alt="echecs">
<img src="https://cdn.pixabay.com/photo/2018/01/16/16/46/adult-3086302_960_720.jpg" alt="Musique">

 </div>
 <style>
 .foto {
    width: 50%; 
  height: 1px; 
  margin:0 auto;
 }
 
 
  </style>
 
   </body>
 </html>