<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
        <link rel="icon" type="image/png" href="https://pixabay.com/fr/photos/fa%c3%a7on-ciel-des-nuages-rue-for%c3%aat-7642285.png/">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

<h2>Consequence sur le rechauffement climatique</h2>
        <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text. <span> It has roots in a piece of classical Latin </span>literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. 
        </p>
        <ol class="deb">
            <li>nature</li>
            <li>vivre heureux</li>
            <li>vivre du jour au jour</li>
            <li>etre efficace</li>
            <li>respect envers autrui</li>

        </ol>
        <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. 

        </p>


<div>
      <input type="radio" id="huey" name="drone" value="couche 1"
             checked>
      <label for="huey">Huey</label>
    </div>

    <div>
      <input type="radio" id="dewey" name="drone" value="dewey">
      <label for="dewey">Dewey</label>
    </div>

    <div>
      <input type="radio" id="louie" name="drone" value="louie">
      <label for="louie">Louie</label>
    </div>




    <style>
    span{
    color:red;
    font-family: fantasy;
    font-style: italic;
    font-weight: bold;
}
    body{
background-attachment:center;
background-image: url('https://cdn.pixabay.com/photo/2019/07/16/06/43/fantasy-4341168_960_720.jpg');
background-image:cover;
background-repeat: no-repeat;
background-size: 100vw 100vh;

} 


</style>

</body>
<footer class="foot">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="doucour.demba77@gmail.com/">doucour.demba77@gmail.com</a><p>Demba Moussa Gaharo</P>
  <!-- Copyright -->
</footer>
</html>