<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
        <link rel="icon" type="image/png" href="https://pixabay.com/fr/photos/fa%c3%a7on-ciel-des-nuages-rue-for%c3%aat-7642285.png/">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <section>
 <div class="dodo"> 
    <h4>Portfolio de compétences <h4>
        <div class="bb"> 
            <h3>S'initier aux reseaux informatique<h3>
            <p> -Au cours de cet apprentissage j'ai été face à des problèmes réels qu'on rencontre souvent dans le Domain, et c'est devenu un défi pour moi, Malgré les difficultés rencontrées dans le processus et la réalisation des projets de cet apprentissage j’ai pu assimiler et exécuter les tâches qui me sont confédérées <br>
            </p>

        </div>


    <div class="bb">

        <h3>Comprendre les principes et standards du codage de l’information<h3>
       
        <p>Au cours de cet apprentissage j'ai découvert l'architecture des ordinateurs et le monde de la cybercriminalité, Au cours de cet apprentissage j'ai obtenu un certificat avec 88% de moyenne 
        </p>

    </div>

    <div class="bb"> 
 
        <h3>Configurer les fonctions de base du réseau local: Ethernet, IPv4, intro IPv6, commutation, VLANs, routage statique<h3>
        
        <p>Au cours de ce apprentissage on devait configurer des postes clients et assurer le bon fonctionnement de ces équipements afin de remplir le cahier des charge  <br></p>
 
    </div>

</div>
    </section>
<style> 
.dodo{
width: 790px;
margin: auto;
font-family: 'calibri',sans-serif;
font-size: 17px;
border: 4px solid white;
border-radius: 11px;
padding:24px;
}

.bb{
    margin-buttom: 60px;
    text-align: center;

}
 
 h4 , h3 {
    font-size: 25px;
    border-bottom: 4px solid green;
 }

body{
background-attachment:center;
background-image: url('https://cdn.pixabay.com/photo/2019/07/16/06/43/fantasy-4341168_960_720.jpg');
background-image:cover;
background-repeat: no-repeat;
background-size: 100vw 100vh;

} 


</style>
<footer class="foot">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="doucour.demba77@gmail.com/">doucour.demba77@gmail.com</a><p>Demba Moussa Gaharo</P>
  <!-- Copyright -->
</footer>
</body>
</html>